@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#es-maybelline.es-maybelline {
  font-family: "Barlow", Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 982px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: #ff0d83;
}
#es-maybelline.es-maybelline * {
  box-sizing: border-box;
}
#es-maybelline.es-maybelline h2 {
  font-family: "Barlow", Tahoma, Verdana, sans-serif;
  color: #000;
}
#es-maybelline.es-maybelline h3 {
  font-family: "Barlow", Tahoma, Verdana, sans-serif;
  color: #000;
}
#es-maybelline.es-maybelline h4 {
  font-family: "Barlow", Tahoma, Verdana, sans-serif;
  color: #000;
}
#es-maybelline.es-maybelline h5 {
  font-family: "Barlow", Tahoma, Verdana, sans-serif;
  color: #000;
}
#es-maybelline.es-maybelline a {
  text-decoration: none;
  color: inherit;
}
#es-maybelline.es-maybelline .es-kv__logo {
  background: #000;
  padding: 20px 16px;
}
#es-maybelline.es-maybelline .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-maybelline.es-maybelline .es-kv__img--logo {
  opacity: 0;
  animation: slidedown 0.6s forwards;
}
#es-maybelline.es-maybelline .es-kv__img--badge {
  display: none;
  padding-top: 24px;
  margin-left: 0;
}
#es-maybelline.es-maybelline .es-kv__img--photo {
  width: 100%;
}
#es-maybelline.es-maybelline .es-kv__img--packshot {
  max-height: 300px;
}
#es-maybelline.es-maybelline .es-kv__img--info {
  width: 60%;
  margin-left: 0;
}
#es-maybelline.es-maybelline .es-kv__content {
  position: relative;
}
#es-maybelline.es-maybelline .es-kv__title {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  color: #ff0d83;
  line-height: 1;
  opacity: 0;
  animation: slideright 0.6s forwards;
  animation-delay: 0.4s;
}
#es-maybelline.es-maybelline .es-kv__title--span {
  display: block;
  color: #fff;
  font-size: 24px;
}
#es-maybelline.es-maybelline .es-kv__photo {
  position: relative;
  margin: 0 auto;
}
#es-maybelline.es-maybelline .es-kv__info {
  position: absolute;
  top: 48px;
  left: 48px;
  z-index: 2;
  opacity: 0;
  animation: slideleft 0.8s forwards;
  animation-delay: 0.8s;
}
#es-maybelline.es-maybelline .es-features {
  margin-bottom: 48px;
  position: relative;
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/fireworks-bg.png");
  background-size: 200%;
  background-repeat: no-repeat;
}
#es-maybelline.es-maybelline .es-features__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  padding: 32px 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  text-wrap: balance;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
}
#es-maybelline.es-maybelline .es-features__title--span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-features__subtitle {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 16px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-weight: inherit;
  padding: 0 16px;
  text-align: center;
  margin-bottom: 48px;
  letter-spacing: -1px;
}
#es-maybelline.es-maybelline .es-features__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 0px;
}
#es-maybelline.es-maybelline .es-features__single {
  width: 307px;
}
#es-maybelline.es-maybelline .es-features__tile {
  overflow: hidden;
}
#es-maybelline.es-maybelline .es-features__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: all ease-in-out 200ms;
}
#es-maybelline.es-maybelline .es-features__img:hover {
  scale: 1.1;
}
#es-maybelline.es-maybelline .es-features__benefit {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  text-align: center;
}
#es-maybelline.es-maybelline .es-features__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-weight: inherit;
  margin-bottom: 16px;
  text-align: center;
  text-wrap: balance;
  letter-spacing: -1px;
}
#es-maybelline.es-maybelline .es-colors {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 16px;
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/cross-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 64px;
}
#es-maybelline.es-maybelline .es-colors__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0 16px;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
}
#es-maybelline.es-maybelline .es-colors__title--span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-colors__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 16px;
}
#es-maybelline.es-maybelline .es-colors__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-maybelline.es-maybelline .es-colors__single:hover .es-colors__link {
  background-color: #000;
  position: relative;
  z-index: 1;
}
#es-maybelline.es-maybelline .es-colors__tile {
  height: 285px;
}
#es-maybelline.es-maybelline .es-colors__eye {
  margin-left: 0;
  max-width: 140px;
}
#es-maybelline.es-maybelline .es-colors__mascara {
  margin-top: -166px;
  margin-left: 50px;
  height: 285px;
}
#es-maybelline.es-maybelline .es-colors__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 28px;
  margin-top: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  font-style: italic;
  color: #ff0d83;
}
#es-maybelline.es-maybelline .es-colors__text--line {
  font-size: 20px;
  display: block;
}
#es-maybelline.es-maybelline .es-colors__text--desc {
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  text-align: center;
}
#es-maybelline.es-maybelline .es-colors__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  background: #ff0d83;
  color: #fff;
  display: block;
  transition: all 0.3s;
  font-style: italic;
  border-radius: 99px;
  margin-top: -67px;
  margin-left: 141px;
  text-decoration: underline;
}
#es-maybelline.es-maybelline .es-ba__single {
  width: 333px;
}
#es-maybelline.es-maybelline .es-ba__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 auto;
  padding: 24px 16px;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
}
#es-maybelline.es-maybelline .es-ba__title--span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-ba__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
  padding-inline: 32px;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-ba__container {
    flex-wrap: nowrap;
  }
}
#es-maybelline.es-maybelline .es-ba__before {
  max-width: 470px;
  overflow: hidden;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-ba__before {
    flex-basis: 50%;
  }
}
#es-maybelline.es-maybelline .es-ba__after {
  max-width: 470px;
  overflow: hidden;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-ba__after {
    flex-basis: 50%;
  }
}
#es-maybelline.es-maybelline .es-ba__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s;
}
#es-maybelline.es-maybelline .es-ba__img:hover {
  scale: 1.06;
}
#es-maybelline.es-maybelline .es-ba__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-weight: inherit;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
  max-width: 800px;
  padding-inline: 16px;
}
#es-maybelline.es-maybelline .es-ba__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 0;
  padding-block: 64px;
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/bg-icons.png");
  background-position: center;
  background-size: cover;
}
#es-maybelline.es-maybelline .es-ba__content--2 {
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/fireworks-bg-2.png");
  background-position: top right;
  background-size: 150%;
  background-repeat: no-repeat;
}
#es-maybelline.es-maybelline .es-ba__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 20px;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  margin-top: 16px;
}
#es-maybelline.es-maybelline .es-effects {
  display: flex;
  flex-direction: column;
  padding-block: 32px;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects {
    flex-direction: row;
    gap: 4px;
  }
}
@media (min-width: 768px) {
  #es-maybelline.es-maybelline .es-effects {
    padding-inline: 32px;
  }
}
#es-maybelline.es-maybelline .es-effects__leftCtn {
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/effects.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  aspect-ratio: 1/1;
  padding-block: 32px;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects__leftCtn {
    flex-basis: 50%;
    padding-inline: 32px;
  }
}
#es-maybelline.es-maybelline .es-effects__rightCtn {
  display: flex;
  aspect-ratio: 1/1;
}
#es-maybelline.es-maybelline .es-effects__rightCtn img {
  max-width: 100%;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects__rightCtn {
    flex-basis: 50%;
  }
}
#es-maybelline.es-maybelline .es-effects__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects__text {
    height: 4rem;
  }
}
@media (min-width: 850px) {
  #es-maybelline.es-maybelline .es-effects__text {
    height: 3rem;
  }
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects__Ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
}
#es-maybelline.es-maybelline .es-effects__single {
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  font-weight: 300;
  width: 100%;
}
#es-maybelline.es-maybelline .es-effects__number {
  color: #ff0d83;
  font-size: 32px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 1px solid #ff0d83;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
#es-maybelline.es-maybelline .es-effects__number p {
  margin: 0;
}
@media (min-width: 576px) {
  #es-maybelline.es-maybelline .es-effects__number {
    font-size: 48px;
    width: 80px;
    height: 80px;
  }
}
#es-maybelline.es-maybelline .es-disc {
  margin: 0 16px;
}
#es-maybelline.es-maybelline .es-disc__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  text-align: center;
  text-wrap: balance;
  font-size: 11px;
  padding-bottom: 24px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
}
#es-maybelline.es-maybelline .es-cross {
  margin-bottom: 56px;
  padding: 40px 16px;
  background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/mascara-light-sensational/img/fireworks-bg-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
#es-maybelline.es-maybelline .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -1px;
  margin-bottom: 56px;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  text-align: center;
}
#es-maybelline.es-maybelline .es-cross__title--span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-cross__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 32px 8px;
}
#es-maybelline.es-maybelline .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-maybelline.es-maybelline .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
}
#es-maybelline.es-maybelline .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-maybelline.es-maybelline .es-cross__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
  min-height: 38px;
}
#es-maybelline.es-maybelline .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-weight: inherit;
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: -1px;
}
#es-maybelline.es-maybelline .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 20px;
  font-weight: inherit;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", Tahoma, Verdana, sans-serif;
  text-align: center;
  display: inline-block;
}
#es-maybelline.es-maybelline .es-footer__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  margin-bottom: 16px;
  text-align: center;
}
#es-maybelline.es-maybelline .es-footer__logo {
  background: #000;
  padding: 20px 16px;
}

@media screen and (min-width: 668px) {
  #es-maybelline.es-maybelline .es-kv__container {
    display: flex;
    overflow: hidden;
  }
  #es-maybelline.es-maybelline .es-kv__photo {
    flex: 1;
    flex-basis: 50%;
  }
  #es-maybelline.es-maybelline .es-kv__packshot {
    bottom: 0;
    left: -24px;
    right: unset;
  }
  #es-maybelline.es-maybelline .es-kv__img--badge {
    margin-right: 16px;
    margin-left: auto;
    display: block;
    padding: 0;
    margin: 0;
  }
  #es-maybelline.es-maybelline .es-kv__img--photo {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  #es-maybelline.es-maybelline .es-kv__content {
    flex: 1;
    flex-basis: 50%;
  }
  #es-maybelline.es-maybelline .es-kv {
    padding-top: 37px;
    position: relative;
  }
  #es-maybelline.es-maybelline .es-kv__badge {
    position: absolute;
    top: 0;
    right: 40px;
  }
  #es-maybelline.es-maybelline .es-ba__single {
    width: 210px;
    transition: all 0.3s;
  }
  #es-maybelline.es-maybelline .es-ba__single:hover .es-ba__img {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) {
  #es-maybelline.es-maybelline .es-kv__subtitle {
    bottom: 32px;
  }
  #es-maybelline.es-maybelline .es-features__title {
    font-size: 42px;
  }
  #es-maybelline.es-maybelline .es-benefits__title {
    font-size: 58px;
  }
  #es-maybelline.es-maybelline .es-colors__title {
    font-size: 42px;
  }
  #es-maybelline.es-maybelline .es-cross__title {
    font-size: 42px;
  }
  #es-maybelline.es-maybelline .es-ba__title {
    font-size: 38px;
  }
  #es-maybelline.es-maybelline .es-features__img {
    transition: all 0.3s;
  }
  #es-maybelline.es-maybelline .es-features__single:hover .es-features__img {
    transform: scale(1.2);
  }
  #es-maybelline.es-maybelline .es-colors__mascara {
    transition: all 0.3s;
  }
  #es-maybelline.es-maybelline .es-colors__single:hover .es-colors__mascara {
    transform: scale(1.1);
  }
  #es-maybelline.es-maybelline .es-cross__img {
    transition: all 0.3s;
  }
  #es-maybelline.es-maybelline .es-cross__link {
    transition: color 0.3s;
  }
  #es-maybelline.es-maybelline .es-cross__single:hover .es-cross__img {
    transform: scale(1.05);
  }
  #es-maybelline.es-maybelline .es-cross__single:hover .es-cross__link {
    background-color: #fff;
    color: #ff0d83;
  }
}
@media screen and (min-width: 940px) {
  #es-maybelline.es-maybelline .es-kv__title {
    font-size: 48px;
  }
}/*# sourceMappingURL=style.css.map */